/*
	Copyright© 2012,2013 Informatici Senza Frontiere Onlus
	http://www.informaticisenzafrontiere.org

    This file is part of "ISA" I Speak Again - ISF project for impaired and blind people.

    "ISA" I Speak Again is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    "ISA" I Speak Again is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with "ISA" I Speak Again.  If not, see <http://www.gnu.org/licenses/>.
*/

/* GLOBAL */
body {
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:center;
	background-color:#004062;
	font-family:Arial,Helvetica,sans-serif;
	cursor:url(../cursors/cur117.cur), progress !important;
}

a {
	text-decoration:none;
	color:#000000;
}

/* isa recognition */
div#isa_recognition {
	display:none;
}

/* inizio homepage */

table#homemenu {
	width:100%;
}

tr.homerow {
	height:32%;
}

tr.homerow td {
	text-align:center;
	background-color:#0085b2;
	border:4px solid #0073a1;
	border-radius:12px;
}

table#homemenu a {
	display:block;
	width:100%;
	height:100%;
	cursor:url(../cursors/cur117.cur), progress !important;
}

table#homemenu td.logoright {
	background-color:#ffffff;
}

table#homemenu a img {
	width:auto;
	height:150px;
	border:0 none;
	margin:0;
}

/* fine homepage */

div#container {
	margin:0 auto;
	width:640px;
	height:480px;
	margin-top:0;
	text-align:center;
}

/* TOP */

div#topcontainer {
	float:left;
	width:100%;
	height:12%;
	margin:1.5% auto 1.5% auto;
	text-align:center;
}

input#isa_writtentext {
	width:98%;
	height:100%;
	margin:0 auto 0 auto;
	text-indent:1%;
	font-size:250%;
	border:1px solid #005a86;
	border-radius:6px;
}

/* MAIN */

div#maincontainer {
	float:left;
	width:100%;
	background-repeat:repeat-x;
}

div#xt9 {
	float:left;
	width:89%;
	min-height:70px;
	margin:1% 0 0 0;
}

input.xt9_word {
	float:left;
	width:16%;
	margin:0 0.2% 0.2% 0;
	padding:0.2%;
	color:#000000;
	font-size:120%;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	background-color:#f5f5f5;
	border:1px solid #005a86;

	cursor:url(../cursors/cur117.cur), progress !important;
}

div#isa_keyboard {
	float:left;
	width:89%;
	height:100%;
	margin:1% 0 0 0;
}

/* INIZIO LEFT COLUMN */

div#isa_leftcolumn {
	float:left;
	width:10%;
	font-weight:bold;
	font-size:50%;
	margin:1% 0 auto 1%;
}

div#isa_leftcolumn a {
	float:left;
	width:80%;
	height:auto;
	margin:0 1% 4% 1%;
	font-size:200%;
	white-space:nowrap;
	color:#bee7fa;
	background-color:#0085b2;
	text-align:center;
	line-height:250%;
	border:1px solid #0073a1;
	border-radius:6px;
	cursor:url(../cursors/cur117.cur), progress !important;
}

div#isa_leftcolumn a.disabled {
opacity:.40;
filter:alpha(opacity=40);
filter:”alpha(opacity=40)”;
}

div#isa_leftcolumn a img {
	float:left;
	width:100%;
	margin:0;
	border-radius:5px;
}

/* FINE LEFT COLUMN */

/* KEYBOARD */

div.isa_row {
	float:left;
	width:100%;
	height:20%;
	margin:0;
}

div.isa_button_half,
div.isa_button_quarter,
div.isa_button_backspace,
div.isa_button_backspaceword,
div.isa_button_backspaceall,
div.isa_button_enter,
div.isa_button_space,
div.isa_button_tts,
div.isa_button_send,
div.isa_button_browse {
	float:left;
	display:block;
	height:100%;
	margin:0;
	border:1px solid #005a86;
	background-position:center center;
}

/* INIZIO SPEECHBOARD BASE */

div.isa_button_full {
	display:block;
	float:left;
	width:8.7%;
	height:100%;
	margin:0;
	background-color:#033046;
	background-position:center center;
	border:1px solid #005a86;
}

div.isa_button_full a {
	float:left;
	width:100%;
	height:100%;
	font:normal 320% Arial,Helvetica,sans-serif;
	text-align:center;
	line-height:160%;
	color:#bfe7f9;
	cursor:url(../cursors/cur117.cur), progress !important;
}

/* FINE SPEECHBOARD BASE */

div.isa_button_half,
div.isa_button_quarter {
	width:7.4%;
	background-color:#033046;
}

div.isa_button_half 		{background-image:url(../images/isa_button_half.png);}
div.isa_button_quarter 	{background-image:url(../images/isa_button_quarter.png);}

div.isa_button_enter,
div.isa_button_backspace,
div.isa_button_backspaceword,
div.isa_button_backspaceall,
div.isa_button_tts,
div.isa_button_send,
div.isa_button_browse {
	width:9%;
	background-color:#b5b5b5;
}

div.isa_button_space {
	width:50%;
	background-color:#033046;
}

div.isa_button_half a,
div.isa_button_quarter a,
div.isa_button_backspace a,
div.isa_button_backspaceword a,
div.isa_button_backspaceall a,
div.isa_button_enter a,
div.isa_button_space a,
div.isa_button_tts a,
div.isa_button_send a,
div.isa_button_browse a {
	float:left;
	width:100%;
	height:50%;
	color:#bfe7f9;
	font:normal 140% Arial,Helvetica,sans-serif;
	text-align:center;
	line-height:150%;
	cursor:url(../cursors/cur117.cur), progress !important;
}

div.isa_button_backspace a,
div.isa_button_backspaceword a,
div.isa_button_backspaceall a,
div.isa_button_enter a,
div.isa_button_tts a,
div.isa_button_send a,
div.isa_button_browse a,
div.isa_button_space a {
	height:100%;
	line-height:300%;
	color:#bfe7f9;
	background-position:center center;
}

div.isa_button_backspace a 		{background-image:url(../images/isa_backspace.png);}
div.isa_button_backspaceword a 	{background-image:url(../images/isa_backspaceword.png);}
div.isa_button_backspaceall a		{background-image:url(../images/isa_backspaceall.png);}
div.isa_button_enter a 			{background-image:url(../images/isa_enter.png);}
div.isa_button_tts a 				{background-image:url(../images/isa_tts.png);}
div.isa_button_browse a 			{background-image:url(../images/isa_browse.png);}

div.isa_button_quarter a.uppercaseleft,
div.isa_button_quarter a.uppercaseright,
div.isa_button_quarter a.lowercaseleft,
div.isa_button_quarter a.lowercaseright {
	width:50%;
}

/* HOVER EFFECT */
div.isa_button_full a:hover,
div.isa_button_half a:hover,
div.isa_button_quarter a:hover,
div.isa_button_backspace a:hover,
div.isa_button_backspaceword a:hover,
div.isa_button_backspaceall a:hover,
div.isa_button_enter a:hover,
div.isa_button_space a:hover,
div.isa_button_tts a:hover,
div.isa_button_send a:hover,
div.isa_button_browse a:hover,
div.isa_words_row a.isa_word:hover,
div.isa_images_row a.isa_word:hover {
	color:#002c38;
	background-color:#00cdee;
	font-weight:bold;
}

div.isa_button_full a:active,
div.isa_button_half a:active,
div.isa_button_quarter a:active,
div.isa_button_backspace a:active,
div.isa_button_backspaceword a:active,
div.isa_button_backspaceall a:active,
div.isa_button_enter a:active,
div.isa_button_space a:active,
div.isa_button_tts a:active,
div.isa_button_send a:active,
div.isa_button_browse a:active,
div.isa_words_row a.isa_word:active,
div.isa_images_row a.isa_word:active {
	color:#ffffff;
	background-color:#FF6215;
	font-weight:bold;
}

div.isa_spacer_1 {float:left; width:4%; height:100%;}
div.isa_spacer_2 {float:left; width:6%; height:100%;}
div.isa_spacer_3 {float:left; width:1%; height:100%;}
div.isa_spacer_4 {float:left; width:8%; height:100%;}

/* INIZIO BOTTOM */

div#bottomcontainer {
	float:left;
	width:100%;
	height:10%;
}

/* FINE BOTTOM */

/* INIZIO WORDBOARD */

div#isa_words_content {
	float:left;
	width:85%;
	height:auto;
	margin:2% 1% 0 1%;
	font-size:100%;
}

/* FINE WORDBOARD */

/* INIZIO IMAGEBOARD */

div#isa_images_content {
	float:left;
	width:86%;
	margin:1% 1% 0 1%;
	font-size:100%;
}

/* FINE WORDBOARD */

div.isa_words_row {
	width:100%;
	height:auto;
	float:left;
}

div.isa_words_row a.isa_word {
	display:block;
	float:left;
	min-width:5%;
	height:auto;
	margin:0.2%;
	font-size:85%;
	color:#000000;
	font-weight:bold;
	text-align:center;
	line-height:250%;
	padding:0 0.5% 0 0.5%;
	text-decoration:none;
	background-color:#f5f5f5;
	border-radius:6px;

	cursor:url(../cursors/cur117.cur), progress !important;
}

/* */

div.isa_images_row {
	width:100%;
	height:auto;
	float:left;
}

div.isa_images_row a.isa_word {
	float:left;
	display:block;
	width:13%;
	height:auto;
	margin:0.4%;
	color:#000000;
	text-decoration:none;
	background-color:#f5f5f5;
	border:1px solid #005a86;
	border-radius:6px;
	cursor:url(../cursors/cur117.cur), progress !important;
}

div.isa_images_row a.isa_word img {
	float:left;
	width:100%;
	height:auto;
	border:1px solid #005a86;
	border-radius:6px;
}


/* jPlayer */
a.jp-play,
a.jp-pause,
a.jp-stop,
a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	display:none;
}

iframe#hiddenframe {
	width:1px;
	height:1px;
	border:0 none;
}

div#back_to_isa {
	float:left;
	display:none;
	width:100%;
	height:50px;
	text-align:center;
	color:#ffffff;
	font-size:38px;
}

iframe#isa_browser {
	float:left;
	display:none;
	width:100%;
	overflow:auto;
}

.loader {
	background-image:url(../images/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

/* help software */
div#software a {
	float:left;
	display:block;
	width:88%;
	margin:1% 0 0 0;
	background-color:#033046;
	border:1px solid #005a86;
	font-size:64%;
	color:#bfe7f9;
	background-repeat:no-repeat;
	background-position:left center;
}

div#software a img {
	float:left;
	display:block;
	width:26%;
	height:auto;
}

div#software a span {
	display:block;
	float:left;
	width:73%;
	text-align:left;
	margin:0.3% auto auto 0.3%;
}