/*
	Copyright© 2012,2013 Informatici Senza Frontiere Onlus
	http://www.informaticisenzafrontiere.org

    This file is part of "ISA" I Speak Again - ISF project for impaired and blind people.

    "ISA" I Speak Again is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    "ISA" I Speak Again is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with "ISA" I Speak Again.  If not, see <http://www.gnu.org/licenses/>.
*/

/* GLOBALS */

body {
	margin:0;
	padding:0;
	overflow:hidden;
	text-align:center;
	background-color:#004062;
	font-family:Arial,Helvetica,sans-serif;
	cursor:url(../cursors/cur117.cur), progress !important;
}

div#isa_recognition {
	display:none;
}

a {
	text-decoration:none;
}

/* CONTAINER */

table#container {
	position:absolute;
}

table#container td {
	text-align:center;
}

td#menu_container {
	vertical-align:top;
}

/* INIZIO HOMEPAGE */

td#homemenu_container  {
	vertical-align:middle;
}

table#homemenu {
	background-color:#ffffff;
	border-radius:20px;
	margin-left:auto;
	margin-right:auto;
}

table#homemenu td {
	vertical-align:middle;
}

table#homemenu td a {
	display:block;
	cursor:url(../cursors/cur117.cur), progress !important;
}

table#homemenu td a img {
	width:53%;
}

/* INIZIO MENU */

table#isa_menu td a {
	display:block;
	background-color:#0085b2;
}

table#isa_menu td a:hover {
	background-color:#006682;
	cursor:url(../cursors/cur117.cur), progress !important;
}

table#isa_menu td a img {
	width:100%;
}

table#isa_menu td a.disabled {
	opacity:.40;
	filter:alpha(opacity=40);
}

/* INIZIO TEXT */

input#isa_writtentext {
	background-color:#fdfdfd;
	border:0 none;
	margin:0;
	text-indent:0.5%;
}

/* INIZIO XT9 */

div#xt9 {
	width:100%;
}

input.xt9_word {
	float:left;
	width:24.7%;
	margin:0.2% 0.1% 0;
	padding:0.1%;
	color:#000000;
	font-weight:bold;
	text-align:center;
	background-color:#f5f5f5;
	border:0 none;

	cursor:url(../cursors/cur117.cur), progress !important;
}

input:hover.xt9_word {
	color:#ffffff;
	background-color:#9f9f9f;
}

/* KEYBOARD */

td#keyboard_container table td {
	border:1px solid #005a86;
	vertical-align:middle;
	background-color:#033046;
	background-size:100%;
	background-position:center center;
	background-repeat:no-repeat;
}

td#keyboard_container table td a  {
	float:left;
	color:#bfe7f9;
	cursor:url(../cursors/cur117.cur), progress !important;
}

td#keyboard_container table td a:hover {
	color:#ffffff;
	background-color:#00cdee;
}

td#keyboard_container table td.special  a {
	width:100%;
	height:100%;
	background-color:#999999;
	background-size:100%;
	background-position:center center;
	background-repeat:no-repeat;
}

td#keyboard_container table td.special a:hover {
	background-color:#00cdee;
}

td#button_backspace a 		{background-image:url(../images/isa_backspace.png);}
td#button_backspaceword a 	{background-image:url(../images/isa_backspaceword.png);}
td#button_backspaceall a		{background-image:url(../images/isa_backspaceall.png);}
td#button_enter a 			{background-image:url(../images/isa_enter.png);}
td#button_tts a 				{background-image:url(../images/isa_tts.png);}
td#button_browse a 			{background-image:url(../images/isa_browse.png);}

td#keyboard_container table td.fullbutton a {
	float:left;
	width:100%;
	height:100%;
	line-height:150%;
}

td#keyboard_container table td.halfbutton {
	background-image:url(../images/halfbutton.png);
}

td#keyboard_container table td.halfbutton a {
	float:left;
	width:100%;
	height:50%;
	line-height:120%;
}

td#keyboard_container table td.fullbutton a:hover,
td#keyboard_container table td.halfbutton a:hover,
td#keyboard_container table td.quarterbutton a:hover {
	background-position:center center;
	background-size:100% 100%;
}

td#keyboard_container table td.button_space a:hover 			{background-image:none;}

/* IMAGEBOARD */

div.isa_images_row {
	width:100%;
	float:left;
}

div.isa_images_row a.isa_word {
	float:left;
	display:block;
	width:14%;
	height:auto;
	margin:1% 1.6% 1% 1%;
	text-decoration:none;
	background-color:#f5f5f5;
	border-radius:6%;
	cursor:url(../cursors/cur117.cur), progress !important;
}

td#imageboard_container a:hover.isa_word,
td#wordboard_container table td a:hover.isa_word {
	background-color:#00cdee;
}

div.isa_images_row a.isa_word img {
	float:left;
	width:100%;
	height:auto;
}

/* INIZIO WORDBOARD */

td#wordboard_container table  {
	width:100%;
}

td#wordboard_container table  td {
	text-align:center;
	vertical-align:middle;
}

td#wordboard_container table td a.isa_word {
	display:block;
	width:94%;
	height:90%;
	color:#000000;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	background-color:#f5f5f5;
	border-radius:6px;

	cursor:url(../cursors/cur117.cur), progress !important;
}

/* domotic */
td#domotic_container table  {
	width:100%;
}

td#domotic_container table  td {
	vertical-align:middle;
}

td#domotic_container table  td.disabled {
	opacity:.40;
	filter:alpha(opacity=40);
}

td#domotic_container table td button {
	width:94%;
	height:80%;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:auto 90%;
	background-color:#033046;
	border:1px solid #005a86;
}

td#domotic_container table td button:hover {
	background-color:#0085b2;
	cursor:url(../cursors/cur117.cur), progress !important;
}

td#domotic_container table td button.ON {
	background-image:url(../images/domotic_on.png);
}

td#domotic_container table td button.OFF {
	background-image:url(../images/domotic_off.png);
}

td#domotic_container table td button span {
	float:left;
	font-weight:bold;
	color:#ffffff;
	height:90%;
}

/* jPlayer */

div#jp-commands,
a.jp-play,
a.jp-pause,
a.jp-stop,
a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	display:none;
}

iframe#hiddenframe {
	width:1px;
	height:1px;
	border:0 none;
}

div#back_to_isa {
	float:left;
	display:none;
	width:100%;
	height:50px;
	text-align:center;
	color:#ffffff;
	font-size:38px;
}

iframe#isa_browser {
	float:left;
	display:none;
	width:100%;
	overflow:auto;
}

.loader {
	background-image:url(../images/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

/* help software */
td#software_container a {
	float:left;
	display:block;
	width:100%;
	margin:2% 0 0 0;
	background-color:#033046;
	border:1px solid #005a86;
	color:#bfe7f9;
	cursor:url(../cursors/cur117.cur), progress !important;
}

td#software_container a img {
	float:left;
	width:26%;
	height:auto;
}

td#software_container a span {
	display:block;
	float:left;
	width:73%;
	text-align:left;
	margin:0.4% auto auto 0.4%;
}

/* echair */
td#echair_container {
	vertical-align:middle;
}