body{
	font-family:Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
	font-size:11px;
	list-style: none;
	color: #333333;
}
a{
	color:#007d99;
	font-weight:bold;
}
img{
	padding:10px;
}
.tweet{
	background-image:url(twitter.png);
	background-position:top;
	background-position:left;
	background-repeat:no-repeat;
	width:350px;
	height:100px;
}
.tempo{
	font-size:9px;
	text-align:right;
	padding:auto;
}
.tweet-wall li{
	text-align:justify;
	padding-left:85px;	
}
.data{
	font-size:10px;
	color:#808080;
}
.footer{
	width:350px;
	height:20px;
	text-align:right;
}
.footer a{	
	text-decoration:none;
}
.footer img{
}
.credits{
	font-size:10px;
}